body{
    color: white;
    font-family: 'Heebo', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
header>.contenedor{
    background-color: rgb(30, 30, 30);
    height: 200px;
    width: 200px;
    margin: 2px;
    text-align: center;
    border-radius: 5%;
    float: left;
}
.hex{
    margin-top: 15%;
    width: 100px;
}
.slider{
    width: 100px;
}
.slider.Y{
    margin-top: 50px;
    margin-bottom: 45px;
    transform: rotate(90deg);
}
.PosY{
    margin-bottom: 0;
}
.posX{
    margin-bottom: 30%;
}
.numTop{
    margin: 0;
}
.numBot{
    margin: 0;
}

select{
    width: 150px;
    margin-top: 20px;
}

section{
    height: 150px;
    width: 150px;
    background: red;
    position: relative;
    margin-top: 70px;
}

.square{
    height: 150px;
    width: 150px;
    border-radius: none;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.rombo{
    height: 150px;
    width: 150px;
    border-radius: none;
    transform: rotate(45deg);
}